In [ ]:
#8. pop() and pop(index)

In [1]:

n=[1,2,3,4,5]
print(n.pop())
print(n.pop())
print(n)

5
4
[1, 2, 3]

In [2]:
y=[]
print(y.pop())

IndexError: pop from empty list

In [3]:
n=[10,20,30,40,50,60]
print(n.pop())
print(n.pop(1))
print(n.pop(10))

60
20

IndexError: pop index out of range

In [4]:
#9.clear()
n=[1,2,3,4,5]
n.clear()
print(n)

[]

In [5]:
#10.reverse()
n=[1,2,3,4,5]
n.reverse()
print(n)

[5, 4, 3, 2, 1]

In [6]:
#11. sort()
n=[2,5,3,7,4,8,9]
n.sort()
print(n)

[2, 3, 4, 5, 7, 8, 9]

In [7]:
n=[2,5,3,7,4,8,9]
n.sort(reverse=True)
print(n)

[9, 8, 7, 5, 4, 3, 2]

In [11]:
x=["A","C","Y","S","P","Q","X","M"]
x.sort()
print(x)
x.sort(reverse=True)
print(x)

['A', 'C', 'M', 'P', 'Q', 'S', 'X', 'Y']
['Y', 'X', 'S', 'Q', 'P', 'M', 'C', 'A']

#### Mathematical operators for list
    --> + concatenation
    --> * repetition

In [13]:
a=[1,2,3]
b=[4,5,6]
print(a+b)
print(a+[4])
print(a*5)
print(a+4)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

TypeError: can only concatenate list (not "int") to list

#### Comparision operators for list

In [14]:
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y)
print(x==z)
print(x!=z)

True
False
True

In [15]:
x=["Dog","Cat","Rat"]
y=["Rat","Cat","Dog"]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [16]:
x=[50,20,30]
y=[40,20,30,50,10]
print(x>y)
print(x<y)
print(x<=y)

True
False
False

In [17]:
x=[50,20,30]
y=[50,20,30,40,60,70]
print(x>y)
print(x<y)

False
True

#### Membership operator for list:
    -->in
    -->not in

In [19]:
n=[10,20,30,40]
print(10 in n)
print(40 in n)
print(50 in n)

True
True
False

In [21]:
l=[10,20,30,40,50]
x=l
x[2]=100
print(l)

#change in duplicate will automatically appear in the original due to same address

[10, 20, 100, 40, 50]

    correct way to create a clone or duplicate:
    x=l[:]  or x=l.copy()

In [24]:
l=[10,20,30,40,50]
x=l[:]
x[2]=100
print(x)
print(l)

[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

In [25]:
l=[10,20,30,40,50]
x=l.copy()
x[2]=100
print(x)
print(l)

[10, 20, 100, 40, 50]
[10, 20, 30, 40, 50]

### Nested List:-

In [30]:
n=[10,20,30,[40,20],[60,70,80,[100,200]]]
print(len(n))
print(n[0])
print(n[3])
print(n[3][0])
print(n[4][2])
print(n[4][3][1])

5
10
[40, 20]
40
80
200

### Nested List as Matrix

In [36]:
n=[[10,20,30],[40,50,60],[70,80,90]]
for i in n:
#     print(i)
    for j in i:
        print(j,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [42]:
#IMP
# trsnformstion of mstrix from a list:
n=[[10,20,30],[40,50,60],[70,80,90]]
print("transpose matrix")
for i in range(len(n[0])):
    new=[row[i] for row in n]
    print(new)

transpose matrix
[10, 40, 70]
[20, 50, 80]
[30, 60, 90]

### List Comprehension:

In [43]:
l=["expression for item in list if condition"]
s=[x*x for x in range (1,11)]
print(s)
v=[2**x for x in range(1,6)]
print(v)
m=[x for x in s if x%2==0]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[4, 16, 36, 64, 100]

In [47]:
#wap to print elements with frequency greater than a given value 'k'
l=[1,1,1,1,2,2,2,2,3,3,5,5,5,6,7]
k=2
m=[]
for i in l:
    if l.count(i)>k:
        if i not in m:
            m.append(i)
print(m)

[1, 2, 5]

# Dictionary:
    -represents a group of objects as key value pairs
    -ex:rollno-name
    -duplicate keys not allowed butvalues can be duplicated
    -heterogenous objects are aloowed for both key and values
    -insertion order not presreved
    -mutable
    -index and slicing concepts are not applicable
    - ex: d={10:"lucky",20:"arman",30:"aryan"}

In [50]:
d={10:"lucky",20:"arman",30:"aryan"}
print(d)

{10: 'lucky', 20: 'arman', 30: 'aryan'}

In [51]:
d={}
print(type(d))

<class 'dict'>

In [55]:
d=dict()
print(type(d))

<class 'dict'>

In [52]:
s=()
print(type(s))

<class 'tuple'>

In [54]:
s=set()
print(type(s))

<class 'set'>

In [56]:
d={}
d[10]="abc"
d[20]="def"
d[30]="xyz"
print(d)

{10: 'abc', 20: 'def', 30: 'xyz'}

In [58]:
#dictionary as list of tuples
d=dict([(10,"arman"),(20,"lucky"),(30,"aryan")])
print(d)

{10: 'arman', 20: 'lucky', 30: 'aryan'}

In [59]:
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d[10])
print(d[40])

arman

KeyError: 40

In [60]:
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d[10])
if 40 in d:
    print(d[40])

arman

In [63]:
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d[10])
d[40]='sumit'
print(d)
d[10]='sachin'
print(d)

del d[40]
print(d)

del d[60]
print(d)

arman
{10: 'arman', 20: 'lucky', 30: 'aryan', 40: 'sumit'}
{10: 'sachin', 20: 'lucky', 30: 'aryan', 40: 'sumit'}
{10: 'sachin', 20: 'lucky', 30: 'aryan'}

KeyError: 60

In [64]:
# clear()
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
d.clear()
print(d)

{}

In [67]:
#del() 
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
del(d)
print(d)
#d variable no existance aj delete thay gayo

NameError: name 'd' is not defined

#### Dictionary Comprehension:

In [70]:
square={x:x*x for x in range(1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Important functions of dictionary
    1.dict()
    2.len()
    3.clear()
    4.copy():here for creating duplicate we need to use copy only as slicing wont work

In [71]:
#5.upadte()
d={10:20,30:40,50:60}
x={100:50,200:70,30:700}
d.update(x)
print(d)

{10: 20, 30: 700, 50: 60, 100: 50, 200: 70}

In [73]:
#6.get():
#    d.get(key)
#    d.get(key,default value)
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d[10])
print(d.get(10))
print(d.get(40))

arman
arman
None

In [75]:
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d[10])
print(d.get(10,"gueat"))
print(d.get(40,"guest"))

arman
arman
guest

In [77]:
#7.popitem(): gives answer in form of tuple.
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d.popitem())

(30, 'aryan')

In [78]:
d={}
print(d.popitem())

KeyError: 'popitem(): dictionary is empty'

In [84]:
#8.keys()
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d.keys())

dict_keys([10, 20, 30])

In [83]:
#9.values()
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d.values())

dict_values(['arman', 'lucky', 'aryan'])

In [82]:
#10.items()
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d.items())

dict_items([(10, 'arman'), (20, 'lucky'), (30, 'aryan')])

In [85]:
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
for i in d.keys():
    print(i)
for i in d.values():
    print(i)
for k,v in d.items():
    print(k,"->",v)

10
20
30
arman
lucky
aryan
10 -> arman
20 -> lucky
30 -> aryan

In [89]:
#11.setdefault():
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d.setdefault(40,"pavan"))
print(d)

pavan
{10: 'arman', 20: 'lucky', 30: 'aryan', 40: 'pavan'}

In [91]:
d={10: 'arman', 20: 'lucky', 30: 'aryan'}
print(d.setdefault(10,"sachin"))
print(d)

arman
{10: 'arman', 20: 'lucky', 30: 'aryan'}

In [93]:
#wap that reads the words from paragraph and stores them as keys in dictionary and count the frequency of it as value.
s="Dog the quick brown fox jumps over the lazy dog"
d={}
s=s.split()
print(s)
for i in s:

['Dog', 'the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']