#                 CHAPTER 4 IMMUTABLE DATA STRUCTURES

### 1.String
### 2.Tuple

Accessing characters of string
1.by using index
2.by using operator

In [4]:
a="lj university"
print(a[3])
print(a[-1])
print(a[-5])
print(a[0])
print(a[-0])
print(a[20])

u
y
r
l
l

IndexError: string index out of range

SLICING OPERATOR:

SYNTAX:
        
        s[beginindex:endindex:step]

In [9]:
s="Learning python is very easy"
print(s[1:7:1])
print(s[1:7:2])
print(s[1:7])
print(s[:7])
print(s[9:])
print(s[::])
print(s[:])
print(s[::-1])
print(s[-1:-4:-1])
print(s[-1:-4]) #no output

earnin
eri
earnin
Learnin
python is very easy
Learning python is very easy
Learning python is very easy
ysae yrev si nohtyp gninraeL
ysa

#### MATHEMATICAL OPERATORS FOR STRING

-+ concatenation

-* repetition or string multiplication

In [11]:
print("arman"+"dhairya")
print("lucky"*3)

armandhairya
luckyluckylucky

### Comparison of string

In [13]:
s1=input("Enter first string:")
s2=input("enter second string:")
if s1==s2:
    print("both strings are same")
elif s1<s2:
    print("second string is greater")
else:
    print("print first string is greater.")
#string ni length compare nahi thay individual char ni ascii check thase.

Enter first string:wert
enter second string:wery
second string is greater

### JOINING OF STRING:

SYNTAX:
    
    s=separator.join(group of string)

In [15]:
t=("apple","banana","cherry")
x="-".join(t)
print(x)

apple-banana-cherry

### FORMATTING OF STRING

In [21]:
name="arman"
salary=50000
age=25
print("{}'s salary is {} and age is{}".format(name,salary,age))
print("{0}'s salary is {1} and age is{2}".format(name,salary,age))
print("{}'s salary is {1} and age is{2}".format(name,salary,age))

arman's salary is 50000 and age is25
arman's salary is 50000 and age is25

ValueError: cannot switch from automatic field numbering to manual field specification

### Important functions of stirng

In [22]:
#1. len()
a="ljiet"
print(len(a))

5

#### Removing spaces from string:

In [26]:
#1.rstrip()
t="banana  "
x=t.strip()
print(x,"is a fruit")
print(t,"is a fruit")
print(len(t))
print(len(x))

banana is a fruit
banana   is a fruit
8
6

In [28]:
t="banana"
x=t.rstrip("a")
print(x)

banan

In [29]:
t="banana  "
x=t.rstrip("a")
print(x)

banana

In [30]:
t="banana"
x=t.rstrip("an")
print(x)

b

In [33]:
t="bandana"
x=t.rstrip("an")
print(x)

band

In [41]:
#2.lstrip()

t="banaba"
x=t.lstrip("b")
print(x)

anaba

In [40]:
t="banaba"
x=t.lstrip("ba")
print(x)

naba

In [45]:
t="ananay"
x=t.lstrip("an")
print(x)

y

In [47]:
#3. strip()
t="  banana  "
x=t.strip("an")
print(x)

  banana

In [48]:
t="  banana"
x=t.strip("an")
print(x)

  b

### Changing the case of String:

In [49]:
#1.upper()
s="hello friends"
x=s.upper()
print(x)

HELLO FRIENDS

In [50]:
#2.lower()
s="HELLO FRIENDS"
x=s.lower()
print(x)

hello friends

In [52]:
#3.swapcase():
s="Hello my Name is dHrUvi"
x=s.swapcase()
print(x)

hELLO MY nAME IS DhRuVI

In [56]:
#4.title()
t="Hello how are you?"
x=t.title()
print(x)

Hello How Are You?

In [57]:
#5.capitalize()
t="hello how are you?"
x=t.capitalize()
print(x)

Hello how are you?

### To check type of characters in a string(check function)

--->answers only int true and false

In [58]:
#1. isalnum()
t="company123"
x=t.isalnum()
print(x)

True

In [60]:
t="company 123"
x=t.isalnum()
print(x)
#answer is false due to space

False

In [62]:
#2.isalpha()
t="company123"
x=t.isalpha()
print(x)

False

In [63]:
t="company"
x=t.isalpha()
print(x)

True

In [ ]:
#3. isdigit() or isnumeric()

**isdigit():**

    digits    
    superscript
    subscript

**isnumeric():**

    digits    
    superscript    
    subscript    
    roman numbers    
    mathematical vulgur fractions

In [65]:
#4. islower()
t="hello world!!"
x=t.islower()
print(x)

True

In [66]:
#5. isupper()
t="HELLO WORLD!!"
x=t.isupper()
print(x)

True

In [67]:
t="HELlO WORLD!!"
x=t.isupper()
print(x)

False

In [69]:
#6.istitle()
a="HELLO WELCOME"
b="Hello"
c="22 Names"
d="This Is %$"
e="Hello World"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(e.istitle())

False
True
True
True
True

In [73]:
#7. isidentifier(): if it follows the identifier rules then true else false.
a="MyDemo"
b="Demo20"
c="2Demo"
d="My Demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [74]:
#8. ispace()
t="  "
x=t.isspace()
print(x)

True

In [82]:
s="Pyt@h$%on is 124 Very Ea$sy43"
alphabet=0
upper=0
lower=0
digits=0
space=0
special_char=0
word=0

for i in s:
    if(i.isalpha()):
        alphabet+=1
        if(i.isupper()):
            upper+=1
        if(i.islower()):
            lower+=1
    elif(i.isdigit()):
        digits+=1
    elif(i.isspace()):
        space+=1
    else:
        special_char+=1
word=space+1
print(alphabet)
print(upper)
print(lower)
print(digits)
print(space)
print(special_char)
print(word)

16
3
13
5
4
4
5

### find():

Syntax:
    
    s.find(substring)
    s.find(substring,begin,end)

In [86]:
s="learning Python is very easy"
print(s.find("a"))
print(s.find("a",3,50))
print(s.find("d"))
print(s.find("Python"))

2
25
-1
9

### count():

    s.count(substring)
    s.count(substing,begin,end)

In [89]:
s="abcdabcdefgabczxy"
print(s.count("a"))
print(s.count("a",5,20))

3
1

In [91]:
s="abcdabcdefgabczxy"
print(s.count("a",,20))

SyntaxError: invalid syntax (<ipython-input-91-daa7aa3cd472>, line 2)